<div class="center">
    <div class="container">
        <h2 class="center1">Votre profil</h2>
        <img class="circular-image" src="assets/images/paramed2.JPG" alt="Photo de profil">
        <div class="info-box">
            <div class="text-center">
                <label for="nom">Nom :</label>
                <a> Youssef</a>
            </div>
        </div>

        <div class="info-box">
            <div class="text-center">
                <label for="prenom">Prénom :</label>
                <a> Amira </a>
            </div>
        </div>

        <div class="info-box">
            <div class="text-center">
                <label for="email">Email :</label>
                <a> yotoamira@gmail.com </a>
            </div>
        </div>

        <div class="info-box">
            <div class="text-center">
                <label for="telephone">Numéro de téléphone :</label>
                <a> 52058034</a>
            </div>
        </div>

        <div class="info-box">
            <div class="text-center">
                <label for="motdepasse">Mot de passe :</label>
                <a>*****</a>
            </div>
        </div>
    </div>
</div>