
  
  .custom-card-title {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .custom-card-description { 
    
    color: #333;
  }
  
  .custom-table {
    width: 180%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .custom-table-bordered {
    border: 2px solid #007BFF; 
    border-radius: 10px;
  }
  
  .custom-table-header { 
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  
  .custom-action-button-container {
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
  }
  
  .custom-action-button {
    vertical-align: middle;
} 

.custom-action-button {
  background-color: blue; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  margin-right: 5px; 
}

.add-button {  
  margin-bottom: 10px;
}





