<div *ngFor="let patient of patientDetails">
  <div class="patient-details">
    <h2 class="title">Détails du Patient</h2>
    <div class="container">
      <div class="section">
        <div class="info-item">
          <h2 >Informations Patient</h2>
          <p><strong>Nom :</strong> {{ patient.nom }}</p>
          <p><strong>Prénom :</strong>{{ patient.prenom }}</p>
          <p><strong>Date de naissance :</strong> {{ patient.dateNaissance | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Adresse :</strong> {{ patient.adresse }}</p>
          <p><strong>Tél (1):</strong> {{ patient.tel1 }}</p> 
          <p><strong>Tél (2):</strong> {{ patient.tel2 }}</p> 
          <p><strong>N° Sécurité Sociale:</strong> {{ patient.numSecuriteSociale }}</p> 
          <p><strong>Caisse :</strong> {{ patient.caisse }}</p> 
          <p><strong>Taille: :</strong> {{ patient.taille }}</p> 
          <p><strong>Poids:</strong> {{ patient.poids }}</p>
          <p><strong>Profession :</strong> {{ patient.profession }}</p>  
        </div>
      </div>
      <div class="section">
        <div class="info-item">
          <h2>Médecin Traitant</h2>
          <p><strong>Nom :</strong>{{ patient.medecinNom }} </p>
          <p><strong>Spécialité :</strong> {{ patient.specialite }}</p>
          <p><strong>Adresse :</strong> {{ patient.adresseMedecin }}</p>
          <p><strong>Téléphone :</strong> {{ patient.telephoneMedecin }}</p>
        </div>
      </div>
      <div class="section">
        <div class="info-item">
          <h2>Suivis</h2>
          <p><strong>Date d’enregistrement :</strong> {{ patient.dateEnregistrement | date: 'dd/MM/yyyy' }}</p>
          <p><strong>IAH :</strong> {{ patient.iah }}</p>
          <p><strong>Date d’installation du CPAP :</strong> {{ patient.dateInstallationCPAP | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Dates d’observances pour 7 jours :</strong> {{ patient.datesObservances7Jours }}</p>
          <p><strong>Dates d’observances pour 1 mois :</strong> {{ patient.datesObservances1Mois }}</p>
          <p><strong>Dates d’observances pour 2 mois :</strong> {{ patient.datesObservances2Mois }}</p>
          <p><strong>Dates d’observances pour 3 mois :</strong> {{ patient.datesObservances3Mois }}</p>
        </div>
      </div>
      <div class="section">
        <div class="info-item">
          <h2>Dossier Administratif</h2>
          <p><strong>Accord CNAM :</strong> {{ patient.accordCNAM }}</p>
          <p><strong>N° BL :</strong>{{ patient.numBL }}</p>
          <p><strong>Date B.L :</strong> {{ patient.dateBL }}</p>
          <p><strong>N° Facture :</strong> {{ patient.numFacture }}</p>
          <p><strong>Date Facture :</strong> {{ patient.dateFacture }}</p>
          <p><strong>Télécharger un fichier :</strong> <a href="#">Fichier PDF</a></p>
        </div>
      </div>
    </div>
    <div class="back-button">
      <a routerLink="/liste_information"><i class="fas fa-arrow-left"></i> Retour</a>
    </div>
  </div>
  