 
  .form-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; 
    margin-bottom: 20px;
  }
  .container {
    max-width: 100%;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .styled-form {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group input[type="tel"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btn-primary {
    background-color: #494e53; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: rgb(87, 92, 97); 
  }

  .btn-success {
    background-color: #286ea7; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-success:hover {
    background-color: #1e547e5c; 
  }
  

